@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.effect-gif-ltr {
  position: relative;
  animation: leftToRight;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

@keyframes leftToRight {
  0%   {left: 0px; top: 0px;}
  100%  {left: 100%; top: 0px;}
}

.slick-no-arrow .slick-arrow {
  display: none !important;
}
/* globals.css */

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

/* Ẩn thanh scrollbar cho các trình duyệt Webkit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ẩn thanh scrollbar cho Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}